.navegador {
    text-align: center;
    margin-top: 1rem;
    /* position: fixed; */
    /* overflow: hidden; */
    background-color: rgb(252, 252, 252);
    width: 100%;
    padding: 2rem 2rem;
    z-index: 1;
  }
  .navegador a {
    text-decoration: none;
    font-family: Roboto, sans-serif;
    color:black;
  
    /*  margin-left: 1rem; */
    margin-right: 4rem;
  }

  #nav__click{
    color: grey; 
    padding: 3px 5px 3px 5px;
     border-radius: 3px; 
     
     
 
   }

  .home {
    /* margin-left: 1rem; */
    margin-top: 5rem;
    position: fixed;
    top: 0;
    /* background-color:rgb(255, 255, 255); */
    /* background: size 2; */
   /*  width: 100%;  */
    font-family:Roboto, sans-serif;
    color: rgb(27, 26, 26);
    text-decoration: none;
    z-index: 2;
    padding: 1rem;
    border-radius: 2px;
    
  }


  @media  screen and (max-width: 768px){
 .navegador{
      
        height: 56px;
        background-color: rgb(255, 255, 255);
        position: fixed;
        bottom:0;
        display: grid;
        grid-template-rows: 100%;
        grid-auto-columns: 20% 20% 25% 15%;
        grid-template-areas:"video trabajos proyectos bio contacto";
        grid-column-gap: 0px; 
         
         a{
            color:$coloresFuentes;
            font-size: 11px;
            font-family: Roboto, sans-serif;
            display: inline;

             }

}
#nav__click{
padding: none;
border-radius: none;

}

.home{
          display: none;
    
}
.tituloVideos{
    border:1px solid red;
    margin-top: 1rem; 
   h2{
        font-size: 16px;
       
    }
}




}







@media screen and (min-width: 768px){
    .NataliaTitulo{
        display: none;
        
    }

}
