
/* PROYECTOS */

.TituloProyectos {
    font-family: roboto, sans-serif;
    color: rgb(37, 37, 37);
    text-align-last: center;
    margin:2rem;
    padding-top: 2rem;
    
  }
/* TRABAJOS */
  .tituloTrabajos {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
   
    h2 {
      font-family: Roboto, sans-serif;
    }
  }
  
.titulo__secciones__trabajo{
  font-family:roboto, sans-serif;
  text-align: center;}

  

  /* BIO */

  .tituloBio{
    font-family: Roboto, sans-serif;
    margin-top: 3rem;
   /*  margin-left: 10rem; */
    
    padding-top: 8rem;
    text-align: center;

    img {
    border-radius: 2px;
    box-shadow: 1px 1px 5px rgb(201, 199, 199);
   text-align: center;
    }

  }
  
  .tituloBio{
    
    padding-top:0;
   }
  

   /* TITULO DE SECCION BIOMAS Y HUNTER */
   h1{
     font-family: roboto, sans-serif;
   }
   

/* Contacto */
   .tituloContacto{
    font-family: roboto, sans-serif;
    text-align: center;
    margin-top: 8rem;
  }

  .tituloVideos{
  font-family: roboto, sans-serif; 
    text-align: center;
    margin-top: 8rem;
  }


  /* Titulo de la seccion Video , trabajos y proyectos del media query */
  .NataliaTitulo{
    font-family: roboto, sans-serif;
     letter-spacing: 2px;
     font-weight: 1;
     color: $coloresFuentes;
     text-align: center;
    margin-top: 2rem; 
      
     
     a{
          text-decoration: none;
          color: $coloresFuentes;
      }
     
     
  }
