.TituloProyectos {
    font-family: roboto, sans-serif;
    color: rgb(37, 37, 37);
    text-align-last: center;
    margin:5rem;
    padding-top: 8rem;
    
  }
  .tituloSecciones p {
    margin-top: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
  }

  .tituloBio{
    font-family: Roboto, sans-serif;
    margin-top: 3rem;
   /*  margin-left: 10rem; */
    
    padding-top: 8rem;
    text-align: center;

    img {
    border-radius: 2px;
    box-shadow: 1px 1px 5px rgb(201, 199, 199);
   text-align: center;
    }

  }
  
  